/* color
text : #DDFFBC
bccolor : #52734D
        : #91C788

*/
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 0 7%;
    padding-top: 30px;
}
body{
    background-color: #52734D;
}

/* nav */
.logo{
    color: #DDFFBC;
}
.menu_list{
    display: flex;  
    position: absolute;
    right: 7%;
    top: 40px;

}
.menu_list ul li{
   list-style: none;
   margin-left: 50px;
}
.menu_list ul li a{
    text-decoration: none;
    color: #DDFFBC;
}

/* banner */
